@font-face{
  font-family:"DDIN";
  src:url("node_modules/jax-theme/fonts/d-din-exp.woff2") format("woff2");
  font-weight:400;
  font-style: normal;
}

@font-face{
  font-family:"DDIN";
  src:url("node_modules/jax-theme/fonts/d-din-exp-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

$dark-primary-text: rgba(0,0,0,0.12);
$light-primary-text: white;

$jax-teal: (
  50: #e1f5fe,
  100: #b3e5fc,
  200: #81d4fa,
  300: #4fc3f7,
  400: #29b6f6,
  500: #03a9f4,
  600: #039be5,
  700: #0288d1,
  800: #0277bd,
  900: #01579b,
  A100: #80d8ff,
  A200: #40c4ff,
  A400: #00b0ff,
  A700: #0091ea,
  contrast: (
	50: $dark-primary-text,
	100: $dark-primary-text,
	200: $dark-primary-text,
	300: $dark-primary-text,
	400: $dark-primary-text,
	500: $light-primary-text,
	600: $light-primary-text,
	700: $light-primary-text,
	800: $light-primary-text,
	900: $light-primary-text,
	A100: $dark-primary-text,
	A200: $dark-primary-text,
	A400: $dark-primary-text,
	A700: $light-primary-text,
  )
);

$jax-gray: (
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #78909c,
  500: #607d8b,
  600: #546e7a,
  700: #455a64,
  800: #37474f,
  900: #263238,
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64,
  contrast: (
	50: $dark-primary-text,
	100: $dark-primary-text,
	200: $dark-primary-text,
	300: $dark-primary-text,
	400: $light-primary-text,
	500: $light-primary-text,
	600: $light-primary-text,
	700: $light-primary-text,
	800: $light-primary-text,
	900: $light-primary-text,
	A100: $dark-primary-text,
	A200: $dark-primary-text,
	A400: $light-primary-text,
	A700: $light-primary-text,
  )
);
